<!DOCTYPE html>
<html lang="eng">
<head>
    <% include ./template/head.ejs %>
</head>
<body>

<div id="wrapper">
    <header>
        <% include ./template/header.ejs%>
    </header>

    <div class="mainContent">

        <img src=<% if(book.cover=="null"){%>"/images/null.jpg"<%}%>>
        <h2>Title: <%= book.title %></h2>
        <h3>Autor:  <%= book.autor%></h3>
        <p>Summary <br> <%= book.summary%></p><br>
        <form action ="/books/fav" method="post">
            <input type="hidden" name="book_id" value="<%= book._id %>">
            <%if(loggedIn){
                if(fav){%>
                    <button name="fav" value="fav">dislike</button>
                <%}else{%>
                    <button name="fav" value="fav">like</button>
                <%}
            }else{%>
                <a href="/login">Please log in to leave a comment</a>
            <%}%>
        </form>
        <% include ./content/commentSection.ejs%>
    </div>
</div>
<%include ./template/scripts.ejs%>
</body>
</html>
