<!DOCTYPE html>
<html lang="eng">
<head>
    <% include ./template/head.ejs %>
</head>
<body>

<div id="wrapper">
    <header>
        <% include ./template/header.ejs%>
    </header>
    <div><% include ./content/returnHome.ejs  %></div>
    <div id="mainContent">
        <h1>
            Hello there citizen.
        </h1>
        <ul id="browse">
            <%if(typeof allBooks !== 'undefined'){
            allBooks.forEach(function(book){ %>
            <li>
                <%if(book){%>
                <a href="<%='books/'+book._id%>" title="goToBook">
                    <img src=<% if(book.cover=="null"){%>"/images/null.jpg"<%}%>>
                    <h2>Title: <%= book.title %></h2>
                    <p>Summary <br> <%= book.summary%></p>
                </a></li>
            <% }});
            }%>
        </ul>
    </div>
</div>
<%include ./template/scripts.ejs%>
</body>
</html>
