<!DOCTYPE html>
<html lang="eng">
<head>
  <% include ./template/head.ejs %>
</head>
<body>

<div id="wrapper">
  <header>
  <% include ./template/header.ejs%>
  </header>

  <div id="mainContent">
    <p id="err"><%=err%></p>
    <form action="books/newBook" method="post" class="submissionForm"><br>
      Title:<br>
      <input id="formTitle" type="text"  maxlength=50, autofocus=true name="title"><br>
      Author:<br>
      <input id="formAuthor" type="text" name="author"><br>
      Summary: (max 300 characters)<br>
      <textarea id="formSummary" type="text" maxlength=300 name="summary" class="summary"></textarea><br><br>

      <button type="submit"> submit</button>
    </form>
  </div>
  <footer>
    <div id="footer">

    </div>
  </footer>
</div>
<%include ./template/scripts.ejs%>
</body>
</html>