<!DOCTYPE html>
<html lang="eng">
<head>
    <% include template/head.ejs %>
</head>
<body>

<div id="wrapper">
    <header>
        <% include template/header.ejs%>
    </header>
    <div id="mainContent">
        <% include ./content/logIn.ejs%>
    </div>
</div>
<%include template/scripts.ejs%>
</body>
</html>