<!DOCTYPE html>
<html lang="eng">
<head>
    <% include template/head.ejs %>
</head>
<body>

<div id="wrapper">
    <header>
        <% include template/header.ejs%>
    </header>
    <div id="mainContent">
        <%if(err.constructor === Array){
            err.forEach(function(error){%>
                <p id="err"><%=error%></p>
            <%})
        }%>
        <form class="createAccount" action="users/signUp" method="post">
            First name:<br>
            <input id="formFirstName" type="text" maxlength=50, autofocus=true name="firstName"><br>
            Last name:<br>
            <input id="formLastName" type="text" maxlength=50, name="lastName"><br>
            Username:<br>
            <input id="formUsername" type="text"  name="username"><br>
            Email address:<br>
            <input id="formEmail" type="email" name="email"><br>
            Password:<br>
            <input id="formPassword" type="password" name="password"><br>
            Confirm password:<br>
            <input id="formPasswordConfirm" type="password" name="passwordC"><br><br>

            <button type="submit"> submit</button> <br><br>
        </form>
    </div>
</div>
<%include template/scripts.ejs%>
</body>
</html>