<!DOCTYPE html>
<html lang="eng">
<head>
    <% include ./template/head.ejs %>
</head>
<body id="<% pageID %>">

<div id="wrapper">
    <header>
        <% include ./template/header.ejs%>
    </header>

    <div id="mainContent">

            <h2>Full Name: <%=  user.lastName + " " + user.firstName%></h2>
            <h3>Username:  <%= user.username%></h3>
        <p> <%= user.firstName %>'s favourite books: </p>
        <ul id="browse">

        </ul>
    </div>
</div>
<%include ./template/scripts.ejs%>
</body>
</html>
