<form class="logIn">
    Username:<br>
    <input id="formUsername" type="text" maxlength=, autofocus=true name="username"><br>
    Password:<br>
    <input id="formPassword" type="password"  name="password"><br><br>

    <button type="submit"> submit</button>
</form>