<h1>
    Hello there citizen.
</h1>
<ul id="browse">
    <%if(typeof featureBooks !== 'undefined'){
    for(var i = 0; i < featureBooks.length; i++){ %>
    <li>
        <%if(featureBooks[i]){%>
        <a href="<%='books/'+featureBooks[i]._id%>" title="goToBook">
            <img src=<% if(featureBooks[i].cover=="null"){%>"/images/null.jpg"<%}%>>
            <h2>Title: <%= featureBooks[i].title %></h2>
            <h3>Author:  <%if(authors[i]){%><%=authors[i]%><%}else{%>Author Not Specified<%}%></h3>
            <p>Summary <br> <%= featureBooks[i].summary%></p>
        </a></li>
    <% }}}%>
</ul>